@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.profileIcon {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.loginButtonStyle {
  border: none;
  color: grey;
  background-color: white;
}

.loginButtonStyle:hover {
  border: none;
  color: black;
  background-color: white;
}

.navbar {
  border-bottom: 1px solid rgb(223, 223, 223);
  padding-right: 10px;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar .d-flex h5 {
  margin-top: 8px;
}

.message {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0px;
}

.job-classification {
  background-color: rgba(183, 183, 183, 0.4);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.apply-button-buffer {
  background-color: white;
  width: 20px;
  height: 20px;
  border: 3px solid #e0e0e0;
  border-top: 3px solid #04c7fc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  bottom: 18px;
  right: 45px;
}

.assign-button-buffer {
  float: right;
  background-color: white;
  width: 20px;
  height: 20px;
  border: 3px solid #e0e0e0;
  border-top: 3px solid #04c7fc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 10px;
  margin-top: 10px;
}

.post-button-buffer {
  float: right;
  background-color: white;
  width: 20px;
  height: 20px;
  border: 3px solid #e0e0e0;
  border-top: 3px solid #04c7fc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.resourcesOuterBody {
  color: white;
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  width: 98%;
  height: 80vh;
  margin: auto;
  margin-top: 30px;
  border-radius: 15px;
  background-image: linear-gradient(to top right, #30cfd0 0%, #330867 100%);
  color: white;
  text-align: center;
  clip-path: circle(100% at center);
  transition: clip-path 0.1s linear;
}

.resourcesOuterBody.shrink {
  clip-path: circle(0% at center);
}

#jobLink {
  color: white;
  text-decoration: none;
}

#jobLinkH {
  transition: transform 0.4s ease-in-out, clip-path 0.1s linear;
}

#jobLinkH:hover {
  transform: scale(1.05);
}

.jobListHeader {
  text-align: center;
  background-color: rgba(183, 183, 183, 0.4);
  border-radius: 10px;
  width: 80%;
  padding: 20px 20px 10px 20px;
  margin: auto;
  margin-top: 30px;
}

.jobListWLogin {
  text-align: center;
  margin: 20px;
  height: 150px;
  font-size:xx-large;
}